/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:1em;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {

}

/* Turn on GPU support where available */
.olTileImage {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}
.olControlAttribution {
    position      : absolute;
    font-size     : 10px;
    bottom        : 0 !important;
    right         : 0 !important;
    background    : rgba(0,0,0,0.1);
    font-family   : Arial;
    padding       : 2px 4px;
    border-radius : 5px 0 0 0;
}

/* Landscape layout (with min-width) */
/*@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {

    }
}*/

/* Columns */
#left-column {
    width: 25%;
    position: absolute;
}

#right-column {
    width: 2500;
    height: 1600;
}

/* Navigation widget */

#navigationwidget {
    position: relative;
    margin: 1em;
}

#compasswidget {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    bottom: 0px;
    position: relative;
    width: 100%;
}

#compasswidget:before{
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
}

#compass {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../img/windrose.svgix');
    background-repeat: no-repeat;
    background-size: 100%;
}

#compassdirection {
    width: 100%;   
    position: absolute;
    top: 0;
    left: 0;
}

/* Position and distance measurements */

.label {
    font-size: 90%;
    font-weight: bold;
    color: #222299;
}

.left {
    position: absolute;
    width: 33%;
}

.right {
    position: absolute;
    width: 33%;
    right: 0;
    text-align: right;
}

.center {
    position: absolute;
    left: 33%;
    width: 33%;
    text-align: center;
}

.displayline {
    display: block;
    height: 1.5em;
    width: 100%;
}

/* Map */

#map {
    height: 100%;
    border: 1px solid grey;
}