/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    font-family: Roboto, sans-serif;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:1em;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {

}


/* Landscape layout (with min-width) */
/*@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {

    }
}*/

/* Columns */
#left-column {
    width: 20%;
    position: absolute;
    height: 100%;
}

#right-column {
    width: 80%;
    right: 0; 
    position: absolute;
    height: 100%;
}

/* Navigation widget */

#navigationwidget {
    position: relative;
    margin: 1em;
}

#compasswidget {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    bottom: 0px;
    position: relative;
    width: 100%;
}

#compasswidget:before{
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
}

#compass {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../img/windrose-night.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

#compassdirection {
    width: 100%;   
    position: absolute;
    top: 0;
    left: 0;
}

/* Log window */

#logwindow {
    position: absolute;
    height: 5em;
    width: 100%;
    bottom: 0; 

    box-sizing: border-box;
    padding: 1em;
}

#logwindow progress {
    width: inherit;
    height: 1em;
    display: none;
}

#logtext {
    position: relative;
    bottom: 0;
    height: 3em;
    width: inherit;
    overflow: auto;
    color: white;
    font-size: small;
    border: 1px solid #999;
    box-sizing: border-box;
}

/* Position and distance measurements */

.displayline .label {
    border-bottom: 2px solid #595959;
    line-height: 1.5em;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1ex 1ex 0.5ex;
    color: #CCC;
    box-sizing: border-box;
}

.displayline .value {
    border-bottom: 1px solid #333;
    color: #FFF;
    height: 2.5em;
    padding: 1ex 1ex 0;
    box-sizing: border-box;
}

.left {
    position: absolute;
    width: 33%;
}

.right {
    position: absolute;
    width: 33%;
    right: 0;
    text-align: right;
}

.center {
    position: absolute;
    left: 33%;
    right: 33%;
    width: auto;
    text-align: center;
}

.displayline {
    width: 100%;
}

.displayline.for-label {
    height: 1.5em;
}

.displayline.for-value {
    height: 3em;
}


/* Map */

#map {
    height: 100%;
    border: 1px solid grey;
}

/* Popup Contents */

.leaflet-popup {
    color: #000;
}

.leaflet-popup .gcid {
    font-weight: bold;
    font-family: monospace;
}

.leaflet-popup .title {
}

.leaflet-popup label {
    margin-right: 1ex;
}